*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}


.wrapper {
    background: #000000;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(26, 14, 1, 1) 100%);
    width: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
}


header {
    padding: 50px 0px;
}


header .logo, footer .blocks .logo {
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}


header nav {
    float: right;
    width: 50%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;
}


header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: #fff;
}

header nav ul li.active::after {
    content: "";
    display: block;
    width: 47px;
    height: 5px;
    background-color: #DC7000;
    border-radius: 10px;
    position: relative;
    top: 5px;
}


header nav ul li:not(.active):not(.btn) a:hover {
    border-bottom: 5px solid #DC7000;
}

header nav ul li.btn a, .email .block button {
    background: #fa9021;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 500ms ease;
}

header nav ul li.btn a:hover, .email .block button:hover {
    background-color: #ff3300;
}


.hero {
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
}


.hero--info {
    width: 530px;
    padding-top: 70px;
}

.hero--info h2 {
    color: #E87D0E;
    font-size: 20px;
    font-weight: 600;
}


.hero--info h1 {
    font-size: 50px;
    font-weight: 600;
}

.hero--info p {
    font-weight: 500;
    line-height: 170%;
    margin: 30px 0;
}


.hero--info .btn, .hero-about .info button {
    background: #FA8305;
    color: #fff;
    border-radius: 50px;
    padding: 15px 30px;
    border: 0;
    transition: all 500ms ease;
    font-size: 18px;
}


.hero--info .btn:hover, .hero-about .info button:hover {
    cursor: pointer;
    transform: scale(1.1);
}


.hero img {
    position: absolute;
    top: -150px;
    right: 15px;
}

/* Section with games */

.trending{
    padding-top: 50px;
}

.trending h3 {
    font-weight: 600;
    font-size: 31px;
}

.trending .see-all, .projects .see-all{
    color: #fff;
    background: #25211d;
    border-radius: 5px;
    padding: 12px 23px;
    float: right;
    display: block;
    transition: all 500ms ease;
}

.trending .see-all:hover, .projects .see-all:hover {
    transform: scale(1.1);
}

.trending .games {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 0px;
}

.trending .games span {
    display: block;
    text-align: center;
    margin-top: 25px;
}


.trending .games span img {
    position: relative;
    top: 5px;
    margin-right: 5px;
}


.big-text {
    padding: 50px 0px;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    width: 40%;
}


.banner {
    padding: 80px 0px;
}


.banner h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

.banner p {
    line-height: 170%;
    margin-bottom: 30px;
    width: 30%;
}


.banner img {
    width: 100%;
    margin-bottom: 30px;
}


/* Section with image */


.features{
    background: url('../img/background-blur.svg') no-repeat center center fixed;
    background-size: cover;
    padding: 80px 0px;
}


.features h3,
.features p {
    margin-bottom: 20px;
    text-align: center;
    max-width: 55%;
    margin-left: auto;
    margin-right: auto;
}

.features h3 {
    font-size: 30px;
}

.features .info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.features .info .block {
    text-align: center;
    width: 20%;
    margin: 30px 2%; 
}


.features .info .block img{
    margin-bottom: 15px;
}

.projects {
    padding: 100px 0px;
}


.projects h3 {
    font-size: 30px;
    text-align: center;
}

.projects p {
    margin: 40px 0px;
    text-align: center;
}



.projects .images{
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}

.projects .see-all {
    float: none;
    width: 7%;
    text-align: center;
    margin: 0 auto;
}

/* Bottom part */

.email {
    padding-bottom: 120px;
}

.email h3 {
    margin-top: 60px;
    font-size: 30px;
    margin-bottom: 20px;
}

.email .block {
    background: #1C140F;
    margin-top: 30px;
    border-radius: 10px;
    padding: 40px 3%;
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email .block h4 {
    font-size: 30px;
    font-weight: 500;
}

.email .block p {
    width: 70%;
}


.email .block input {
    background: #fff;
    outline: none;
    border: 0;
    border-radius: 5px;
    width: 380px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 20px 30px;
    position: relative;
    right: -21%;
    z-index: 1;
    padding-right: 120px;
}

.email .block input::placeholder {
    color: #898989;
}


.email .block button {
    cursor: pointer;
    border: 0;
    padding: 13px 18px;
    background: #DC7000;
    position: relative;
    z-index: 2;
    color: #fff;
}


/* Footer */

footer {
    background: #000;
    padding: 50px 0;
}

footer .blocks {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

footer .blocks div {
    width: 21%;
}

footer .blocks div:first-child {
    width: 30%;
}


footer .blocks p {
    width: 90%;
    margin: 15px 0px;
}

footer .blocks h4 {
    font-weight: 500;
    font-size: 17px;
}

footer .blocks #title {
    margin-left: 20%;
}

footer .blocks ul {
    list-style: none
}

footer .blocks ul li {
    margin-top: 7px;
    opacity: 0.8;
    margin-left: 20%;
}

footer .blocks ul li:last-child {
    margin-bottom: 15px;
}

footer hr {
    margin: 30px 0px;
    border: 0;
    height: 0.6px;
    background: #ccc;
}

footer > p {
    text-align: center;
}




/* Page about us */

.hero-about {
    display: flex;
    justify-content: space-between;
    padding-bottom: 150px;
}

.hero-about .info {
    width: 30%;
    padding: 50px 0px;
}

.hero-about .info h1 {
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 500;
    line-height: 180%;
}

.hero-about .info p {
    margin-bottom: 50px;
}

.hero-about .info p:first-of-type {
    font-size: 12px;
}


.hero-about .info button {
    margin-top: 40px;
}

.hero-about div div .choice-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #333333;
    color: #fff;
    position: relative;
    bottom: 57px;
    width: 20%;
    height: 50px;
    border: 0;
}

.hero-about div div .choice-btn img {
    width: 15px;
    height: 15px;
    cursor: pointer;
}


.work {
    padding: 80px 0px;
}

.work h2 {
    font-size: 25px;
    margin-bottom: 40px;
}

.work .blocks {
    display: flex;
    justify-content: space-between;
}


.work .blocks .block {
    background: #1C140F;
    width: 25%;
    border-radius: 10px;
    padding: 50px 35px;

}


.work .blocks .block h3{
    font-size: 20px;
    margin: 20px 0px;
}

.work .blocks .block .badge {
    border-radius: 7px;
    padding: 10px 20px;
}

.work .blocks .block .badge.purple {
    background: rgba(176, 0, 220, 0.11);
}

.work .blocks .block .badge.brown {
    background: rgba(220, 66, 0, 0.11);
}

.work .blocks .block .badge.green {
    background: rgba(0, 220, 141, 0.11);
}

/* Information about-us */

.information-us {
    background: #1C140F;
    height: 600px;
    margin-top: 100px;
}

.information-us .block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.information-us .block img {
    margin-top: 7.25%;
}

.information-us .block .block-information {
    width: 48%;
}

.information-us .block .block-information h4 {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 20px;
}


.information-us .block .block-information h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 160%;
    margin-bottom: 30px;
}

.information-us .block .block-information p {
    line-height: 200%;
}



.wrapper .work .blocks .box {
    background: #1C140F;
    width: 20%;
    border-radius: 10px;
    padding: 50px 35px;
    text-align: center;
}





